body {
  background: #cfd8dc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial;
}

.atm {
  background: #263238;
  padding: 25px;
  border-radius: 18px;
  width: 380px;
  box-shadow: 0 18px 40px rgba(0,0,0,0.35);
}

.screen {
  background: #0f3d2e;
  color: #e8fff3;
  padding: 15px;
  border-radius: 12px;
  height: 240px;   
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 18px;
}

.back {
  background: #d32f2f;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 6px;
  font-weight: bold;
}


#display {
  flex: 1;
  white-space: pre-line;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#display button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  background: #4fc3f7;
  color: #002a3a;
  font-weight: bold;
  cursor: pointer;
}

#display button:hover {
  background: #29b6f6;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.keypad button {
  padding: 14px;
  border: none;
  border-radius: 10px;
  background: #546e7a;
  color: white;
  font-size: 17px;
  cursor: pointer;
}

.keypad button:hover {
  background: #455a64;
}

.green {
  background: #43a047 !important;
}

.red {
  background: #e53935 !important;
}